@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    border: none;

    font-family: 'Kumbh Sans', sans-serif;
}
body
{
    background-color: hsl(185, 75%, 39%);
    background-image: url('images/bg-pattern-top.svg') , url('images/bg-pattern-bottom.svg');
    background-position: 0% 0% , 100% 100%;
    background-size: 500px 500px , 500px 500px;
    background-repeat: no-repeat, no-repeat;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    background-color: white;
    width: 25%;
    
    padding-top: 5.5rem;

    background-image: url('images/bg-pattern-card.svg');
    background-repeat: no-repeat;
    background-position: top;

    border-radius:4%;
    
}
#victor-img
{
    
    border-radius: 50%;
    display: block;
    text-align: center;
    margin: auto;

    border: 4px solid white;
}
.name
{
    display: flex;
    text-indent: 5px;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: .5rem;
}
.location
{
    text-align: center;
    padding-bottom: 1rem;
}
hr
{
    border-top: 1px solid black;
    opacity: 0.3;
}
.stat
{
    display: flex;
    justify-content: space-around;

    padding : 1rem 0;
}
.stat h2
{
    font-size: 18px;
    text-align: center;
}
.stat p{
    font-size: 13px;
    text-align: center;
}
p
{
    opacity: 0.8;
    font-size: 12px;
}
